<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<h2>Search in TMDb</h2>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
    <span class="mesage-value"><%= value %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="search-container">
<%= form_tag search_tmdb_path, id: 'tmdb_form', method: :get do %>
    <label for="searchMovieName">Movie Name</label>
    <%= text_field_tag 'title', nil, class: "form-control", id: "movie_title_field", placeholder: "Manhunter", id: "movie_title_field"%> 
    <label for="searchReleaseDateField">Release Year</label>
    <%= text_field_tag 'release_year', nil, class: "form-control", id: "movie_year_field", placeholder: "1986", id: "movie_year_field"%>
  
  <div class="form-check">
    <%= radio_button_tag 'language', 'en', false, class: "form-check-input" %>
    <label class="form-check-label" for="language_en">English Only</label>
  </div>

  <div class="form-check">
    <%= radio_button_tag 'language', 'all', true, class: "form-check-input" %>
    <label class="form-check-label" for="language_all">All Languages</label>
  </div>
  <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-warning col-2' %>
  <%= link_to 'Back to movie list', movies_path, class: 'btn btn-secondary' %>
  
<% end %>
</div>

<% if not @movies == nil then %>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>Rating</th>
      <th>
        Release Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= form_tag add_movie_path, class: 'form', id: 'add_movie', method: :post  do %>
            <%= hidden_field_tag 'title', movie.title %>
            <%= hidden_field_tag 'rating', movie.rating %>
            <%= hidden_field_tag 'release_date', movie.release_date %>
            <%= submit_tag 'Add movie', class: 'btn btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <h2>Create New Movie</h2>

  </tbody>
</table>
<% end %>